<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Libracours{% endblock %}</title>
        {% load static %}

        <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <link rel="stylesheet" type="text/css"
                href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css"
                href="{% static 'css/bootstrap-theme.min.css' %}">
        <link rel="stylesheet" type="text/css"
                href="{% static 'css/CSS.css' %}">
        {% block head %} {% endblock %}
    </head>
    <body>

        {% block navbar %}
            <nav class="navbar navbar-inverse">
              <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a href="{% url 'home' %}"><img id="LibracoursLOGO"  src="{% static 'images/LibracoursLOGO.png' %}" ></img></a>
                </div>


                    <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    {% block navbar_right %}


                        <ul id="SignUp" class="nav navbar-nav navbar-right">
                            <li><a href="{% url 'logout' %}">Sign out</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <h1 style="color:#2AC3DE" >Hello, {{ user.username }}</h1>
                        </ul>

                    {% endblock %}
                </div><!-- /.navbar-collapse -->
              </div><!-- /.container-fluid -->
            </nav>
        {% endblock %}

        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissable fade in text-center">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <div class="container">
            {% block content %} {% endblock %}
        </div>
    </body>
</html>
