<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Libracours{% endblock %}</title>
        {% load static %}
        <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <link rel="stylesheet" type="text/css"
                href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css"
                href="{% static 'css/bootstrap-theme.min.css' %}">
        {% block head %} {% endblock %}
    </head>
    <body>
        {% block errors %}
            {% for form in forms %}
                {% if form.errors %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger text-center">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        {% endblock %}

        {% block content %} {% endblock %}
    </body>
</html>
