{% extends 'Libracours/base.html' %}

{% load crispy_forms_tags %}

{% block navbar_right %}{% endblock %}

{% block content %}
    <form class="login-form" method="POST" enctype="multipart/form-data">
        <div id="register" class="col-sm-6 jumbotron" >
        {% csrf_token %}
        {{ user_form|crispy }}
        {{ user_profile_form|crispy}}
            <br/>
        <button class="btn btn-primary" type="submit">Register</button>
            <br/>
        </div>
    </form>
{% endblock %}
